<link rel="stylesheet" href="/static/stylesheets/dashboard.css" type="text/css">
</head>
<body>

<div class="viewport">
  <a href="/users/logout"> Logout</a>
  <div class="title">
    <h1>Dashboard</h1>
    <p> Welcome <%= user.name %></p>
  </div>
<div class="cards">

  <div class="card">
    <div class="card_img card1">
         <div class="plus"><p>+</p></div>
    </div>
    <h3>SCAN</h3>
    <div class="line">
    </div>
    <p>résumé</p>

  </div>
  <div class="card">
    <div class="card_img card2">
      <div class="plus"><p>+</p></div>
    </div>
    <h3>TITLE HERE</h3>
    <div class="line">
    </div>
   <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
  <div class="card">
    <div class="card_img card3">
      <div class="plus"><p>+</p></div>
    </div>
    <h3>TITLE HERE</h3>
    <div class="line">
    </div>
    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
  <div class="card">
    <div class="card_img card4">
      <div class="plus"><p>+</p></div>
    </div>
    <h3>TITLE HERE</h3>
    <div class="line">
    </div>
    <p>voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
  <div class="card">
    <div class="card_img card5">
      <div class="plus"><p>+</p></div>
    </div>
    <h3>TITLE HERE</h3>
    <div class="line">
    </div>
   <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
  </div>
  <div class="card">
    <div class="card_img card6">
      <div class="plus"><p>+</p></div>
    </div>
    <h3>TITLE HERE</h3>
    <div class="line">
    </div>
    <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  </p>
  </div>
</div>
</div>

