//mes variables

//bordures
$border-calculator: 3px ridge blue;
$border-grid: 3px dashed yellow;
$border-calcul : $border-calculator;



.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
        }
    }
    
}
.grid-item {
    background-color: pink;
}
bodu gtrgrtgrtg
body.div.

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-content: space-between;
    
}
.flex-item {
    background-color:blue;
}
body{
    background-color: yellowgreen;
    text-align: center;
}

